*{
    box-sizing: border-box;
}

body{
    margin: 0;
    overflow: hidden;
}


/* outline */
.main-container{
    height: 100vh;

}

.title-bar{
    height: 5vh;
    background-color: #107c41;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    color:white;
}

.menu-bar {
    height: 5vh;
    display: flex;
    background-color: #107c41;
    color: white;
}

.menu-icon-bar {
    height: 6vh;
    background-color: rgb(241, 235, 235);
    display: flex;
    align-items: center;
}


.menu-icon{
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-icon:hover{
    cursor:pointer;
    background-color: lightgray;
}

.menu-item.selected{
    background-color: #fff;
    color:#107c41;
}

.menu-item{
    padding-left:10px;
    padding-right: 10px;
    color: white;
    font-size: 18;
    display: flex;
    align-items: center;
}

.menu-item:hover{
    background-color:#096434;
    cursor: pointer;
}

.menu-item.selected:hover{
    background-color: #fff;
    cursor:default;
}

.font-family-selector{

    width: 200px;
}

.selector{
    height: 30px;
    font-size: 18px;
}

.selector option{
    font-size: 14px;
}

.formula-container {  
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    background:rgb(241, 235, 235);
    border: 2px solid lightgray;
}


.sheets-bar
{
    
    height: 4vh;
    display: flex;
    
}

 .sheetleft, .sheetright{
    font-size: 30px;
    width:30px;
    height:100%;
}

.sheetadd{
    font-size: 23px;
    color: #107c41;
    width:40px;
}

.sheetadd:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.sheetleft:hover, .sheetright:hover{
    color: lightgray;
    height:100%;
    cursor: pointer;
}

.sheetadd{
    
    margin-left: 10px;
    display: flex;
    margin-right: 10px;
    align-items: center;
}
 
.scrollar{
    
    width: 70px;
}


.sheet-tab-container{
    border: 1px solid lightgray;
    width: calc(100vw - 110px);
    display: flex;
}

.sheet-tab{
    padding-left: 10px;
    padding-right: 10px;
    width:80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-right: 2px solid lightgreen;
    cursor: default;
}

.sheet-tab.active{

    border-bottom: 4px solid#107c41;
    
}

.sheet-tab.active:hover{

    cursor: default;
    background-color: #fff;

}

.grid-container{
    height: 75vh;
    display: flex; 
    flex-wrap: wrap; 

}

.select-all{
    width:30px;
    height:30px;
    border: 1px solid lightgray;
    background-color: rgb(241, 239, 239);
}

.col_container{
    width: calc(100vw - 30px);
    height: 30px;
    border: 1px solid lightgray;
    display: flex;
    overflow: hidden;

}

.row_container{
    width:30px;
    height:calc(75vh - 30px);
    border: 1px solid lightgray;
    overflow: hidden;
}

.input-cells-container{
    max-width: calc(100vw - 30px);
    max-height: calc(75vh - 30px);
    border: 1px solid lightgray;
    overflow: scroll;
}

.sheets-bar{
    height: 4vh;
    display: flex;
    align-items: center;
}

.column-name{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid lightgray;
    font-weight: 800;
    min-width: 100px;
}

.row-name{
    min-height: 30px;
    font-weight: 800;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
}

.input-cell{
    min-width: 100px;
    min-height: 30px;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    outline-color: #107c41;
    
}

.input-cell.selected{
    border: 2px solid#107c41;
}


.formula-editor,.formula-input
{
    height:70%;
    border: 1px solid lightgray;
    background-color: #fff;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    display: flex;
    align-items: center;
}

.selected-cell
{
    width:120px;
}

.function-sign
{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formula-input
{
    width: calc(100vw - 160px);
    outline-color: #107c41;
}

img{
    height: 20px;
    width: 16px
}

.menu-icon.selected
{
    background-color: lightgray;
}



.top-cell-selected-cell
{
    border-top: none;
}

.bottom-cell-selected
{
    border-bottom: 1px solid lightgray;
}

.right-cell-selected
{
    border-right: 1px solid lightgray;
}

.left-cell-selected
{
    border-left: none;
}

.color-picker{

    position: absolute;
    border: none;
    padding: 0px;
    margin: 2px;
    width: 30px;
    height: 11.5px;
    top: 23.5px;
    left: 1px;
    cursor: pointer;
}

.textColor , .fillColor{
    position: relative;
}

.textColor:hover , .fillColor:hover{
    background-color: lightgray;
}

